<section class="post__title">
	<!-- Access the Post with instance variable set in controller -->
	<h2><%= @post.title %></h2>
	<!-- Include Byline, link to filter results by author later -->
	<p>By <%= @post.author  %></p>

	<p>
		<small>Post <%= time_ago_in_words @post.created_at %> ago.</small>
	</p>

	<% if @post.published? %>
		<p>
			<small>Published in <%=  link_to @post.publication, @post.url %> on 
			<%= @post.published_at  %></small>
		</p>
	<% end %>

	<div class="actions">
		<%= link_to "home", root_path, class: "actions__link"%>
		<span>•</span>

		<%= link_to "edit", edit_post_path(@post), class: "actions__link" %>
		<span>•</span>

		<%= link_to "delete", post_path(@post), method: :delete, class: "actions__link" %>
	</div>

	<div>
		<% if @post.pull_quote.present? %>
			<blockquote><%= @post.pull_quote %></blockquote>
		<% end %>
	</div>
</section>

<section class="post__body">
	<%= simple_format @post.body  %>

	<hr>
	<h3>Comments</h3>
	
	<h4><%= link_to "Add a Comment", new_post_comment_path(@post) %></h4>

	<% @comments.each do |comment| %>
		<div class="post__comment">
			<%= simple_format comment.body %>
			<p>
				<small><%= time_ago_in_words comment.created_at %> ago.</small>
				<small><%= link_to "Remove comment", post_comment_path(@post, comment), method: :delete %></small>
			</p>
		</div>
	<% end %>


</section>